html {
	background-color: #FFF4EC;
	font-family: 'Roboto';
	padding: 1em;
}

body{
	background-color: #FFF4EC;
}

.title {
	background-color: #FFF4EC;
	color: #00373f;
	font-weight: bold;
	background: #FFF4EC;
	padding: 1em;
	margin: 0;
	text-shadow: 0 0 5px #fff;
}

h3 {
	color: #14B7A4 !important;

}

a {
	color: #FF5B32 !important;
	text-decoration: underline !important;
} 

p {
	color: #555;
}

li { 
	color: #555;
 }


img {
	height: auto;
	width: 70%;
	margin-bottom: 1.3em;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #ddd !important;
	box-shadow: 0 0 5px #ddd;
}

.container-fluid {
	background: #FFF4EC;
	margin: 0;
	padding: 0;
	border: 0;
}



.page-body{
	background: white;
	border: 1px solid #ddd;
	margin: auto;
	padding: 2em;
}

